body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


.container {
	width: 80%;
	margin: 40px auto;
	padding: 20px;
	background-color: #2a2a2a;
	color: #ffffff;
	border: 1px solid #e5dbdb;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.header {
	background-color: #2a2a2a;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.profile-photo {
	width: 200px;
	height: 200px;
	border-radius: 20%;
	margin: 25px;
	float: left;
}

.summary {
	padding: 20px;
}

.summary p {
	margin-bottom: 20px;
}

.employment-history {
	padding: 20px;
}

.employment-history h2 {
	margin-top: 0;
}

.employment-history ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.employment-history li {
	margin-bottom: 20px;
}

.employment-history li h3 {
	margin-top: 0;
}

.education {
	padding: 20px;
}

.education h2 {
	margin-top: 0;
}

.education ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.education li {
	margin-bottom: 20px;
}

.education li h3 {
	margin-top:left;
}